<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeLeaf/Layout"
      layout:decorate="~{fragments/main_layout}">
<head>
    <title>Index Page</title>
</head>
<body>
    <div layout:fragment="content" class="container mySpace">
        <div class="jumbotron">
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                Beatae cupiditate nesciunt nostrum officia! Aspernatur
                fugit itaque, magni perspiciatis repellat tempore!</p>
            <h1>GG Banner</h1>
        </div>
    </div>
</body>
</html>